/* line 1, d4.scss */
html {
  box-sizing: border-box;
}

/* line 5, d4.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 9, d4.scss */
* {
  font-family: 'Rubik', Arial, sans-serif;
  font-weight: 300;
}

/* line 14, d4.scss */
body {
  background-color: #1c1c1c;
  text-align: center;
  width: 1426px;
}

/* line 20, d4.scss */
h1 {
  font-size: 30px;
  font-style: italic;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

/* line 27, d4.scss */
.calculator {
  display: inline-block;
  width: 320px;
  height: 568px;
  margin: 0 24px 0 0;
  padding: 0;
  box-shadow: 0 12px 12px 3px rgba(0, 0, 0, 0.5);
}

/* line 36, d4.scss */
.calculator--black {
  background-color: #3e3e3e;
}

/* line 37, d4.scss */
.calculator--green {
  background-color: #008d93;
}

/* line 38, d4.scss */
.calculator--blue {
  background-color: #155e9c;
}

/* line 39, d4.scss */
.calculator--red {
  background-color: #8d3f44;
}

/* line 41, d4.scss */
header {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 70px 45px 30px 45px;
}

/* line 47, d4.scss */
.buffer {
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 5px;
  text-align: right;
  color: rgba(255, 255, 255, 0.99);
}

/* line 55, d4.scss */
.result {
  display: flex;
  justify-content: space-between;
  font-size: 34px;
}

/* line 61, d4.scss */
.result__equal {
  color: #ffffff;
}

/* line 65, d4.scss */
.result__result {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.99);
}

/* line 70, d4.scss */
main {
  padding: 25px;
}
/* line 73, d4.scss */
main section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* line 78, d4.scss */
main section:last-of-type {
  margin-bottom: 0;
}

/* line 84, d4.scss */
.btn {
  width: 50px;
  height: 50px;
  font-size: 25px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #e3e3e3;
  cursor: pointer;
}
/* line 94, d4.scss */
.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 99, d4.scss */
.btn-operator {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
}

/* line 104, d4.scss */
.btn-calc {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 109, d4.scss */
.btn-ac {
  font-size: 18px;
}

/* line 110, d4.scss */
.btn-plus-minus {
  font-size: 25px;
}

/* line 111, d4.scss */
.btn-percent {
  font-size: 20px;
}

/* line 112, d4.scss */
.btn-multiply {
  font-size: 30px;
}

/* line 114, d4.scss */
.placeholder {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 600px) {
  /* line 120, d4.scss */
  body {
    width: auto;
  }

  /* line 124, d4.scss */
  h1 {
    font-size: 24px;
  }

  /* line 128, d4.scss */
  .calculator {
    display: block;
    margin: 0 auto 24px;
  }
}
@media screen and (max-width: 320px) {
  /* line 135, d4.scss */
  body {
    width: auto;
    margin: 0;
  }

  /* line 140, d4.scss */
  h1 {
    display: none;
  }

  /* line 144, d4.scss */
  .calculator {
    display: block;
    margin: 0 auto 50px;
  }
}
