/* line 8, d6.scss */
* {
  font-family: 'PingFang TC', 'Microsoft JhengHei', sans-serif;
}

/* line 12, d6.scss */
html {
  box-sizing: border-box;
}

/* line 16, d6.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 20, d6.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 25, d6.scss */
button {
  outline: none;
  cursor: pointer;
}

/* line 30, d6.scss */
ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 38, d6.scss */
.user-profile {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* line 45, d6.scss */
header {
  height: 90vw;
  padding: 18px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3) 71%, rgba(0, 0, 0, 0.5)), url("img/img-profile-pic.jpg") no-repeat;
  background-size: cover;
}

/* line 57, d6.scss */
main {
  margin: 0;
  padding: 16px;
}

/* line 62, d6.scss */
nav {
  margin: 0;
  padding: 0;
}

/* line 67, d6.scss */
.showcase-title {
  display: none;
}
/* line 70, d6.scss */
.showcase-title h1, .showcase-title h2 {
  margin: 0;
  font-size: 39px;
  font-weight: 100;
  color: #fff;
}
/* line 77, d6.scss */
.showcase-title h1 {
  font-weight: 400;
}

/* line 82, d6.scss */
.name {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3.5px;
  color: #fff;
}

/* line 90, d6.scss */
.description {
  margin: 0 0 16px 0;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.87);
}

/* line 98, d6.scss */
.tab-list {
  display: flex;
  justify-content: space-between;
}

/* line 103, d6.scss */
.tab-item {
  flex: 1;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.56);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
/* line 113, d6.scss */
.tab-item strong {
  font-size: 18px;
}
/* line 116, d6.scss */
.tab-item strong::after {
  content: "\A";
  white-space: pre;
}

/* line 123, d6.scss */
.tab-item:hover,
.tab-item--active {
  border-bottom: 4px solid #ffde2a;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

/* line 130, d6.scss */
.content {
  margin-top: 24px;
}

/* line 137, d6.scss */
.post-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 144, d6.scss */
.post-item:last-of-type {
  border-bottom: none;
}

/* line 149, d6.scss */
.post {
  margin: 0 0 8px 0;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

/* line 157, d6.scss */
.post-time {
  margin-bottom: 16px;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}
/* line 163, d6.scss */
.post-time .date {
  margin-right: 16px;
}

/* line 168, d6.scss */
.btn-follow {
  border: 0;
  padding: 12px 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  background-color: #ffde2a;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  transition: all .3s ease-out;
}
/* line 181, d6.scss */
.btn-follow:hover, .btn-follow.following {
  background-color: #fdcd14;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

/* line 189, d6.scss */
.btn-like {
  padding: 6px 30px 6px 60px;
  border-radius: 100px;
  background-color: #fff;
  background-image: url("img/ic-like-normal.svg");
  background-repeat: no-repeat;
  background-position: left 30px top 50%;
  border: solid 2px #ffde2a;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: background-color .3s ease-out;
}
/* line 203, d6.scss */
.btn-like:hover, .btn-like.liked {
  background-color: #ffde2a;
  background-image: url("img/ic-like-active.svg");
}

/* line 210, d6.scss */
.hide-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* line 218, d6.scss */
.user-profile--2 {
  display: none;
}
/* line 221, d6.scss */
.user-profile--2 header {
  height: 120vw;
  padding: 50px 0 0;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0.7)), url("img/img-cover-photo.jpg") no-repeat;
}
/* line 230, d6.scss */
.user-profile--2 nav {
  width: 100%;
}
/* line 234, d6.scss */
.user-profile--2 .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* line 241, d6.scss */
.user-profile--2 .profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  order: -1;
}
/* line 250, d6.scss */
.user-profile--2 .description {
  color: rgba(255, 255, 255, 0.7);
}
/* line 254, d6.scss */
.user-profile--2 .tab-item {
  position: relative;
  padding-bottom: 28px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  letter-spacing: 0.5px;
}
/* line 261, d6.scss */
.user-profile--2 .tab-item::after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffde2a;
}
/* line 273, d6.scss */
.user-profile--2 .tab-item:hover,
.user-profile--2 .tab-item--active {
  color: #fff;
  font-weight: 500;
}
/* line 278, d6.scss */
.user-profile--2 .tab-item:hover::after,
.user-profile--2 .tab-item--active::after {
  bottom: 0;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #fff;
  background-color: transparent;
  border-radius: 0;
}
/* line 291, d6.scss */
.user-profile--2 .content {
  margin-top: 0;
}
/* line 295, d6.scss */
.user-profile--2 .post {
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 640px) {
  /* line 301, d6.scss */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 80px;
    background: radial-gradient(circle at 100% 100%, #ff7909, #ff9d0c 28%, #ffbd0e 55%, #ffde2a) no-repeat;
    overflow-y: hidden;
  }

  /* line 312, d6.scss */
  .showcase-title {
    display: block;
    margin-top: -200px;
    margin-right: 100px;
  }

  /* line 318, d6.scss */
  .user-profile {
    width: 320px;
    min-width: 320px;
    height: 568px;
    overflow: auto;
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  /* line 327, d6.scss */
  header {
    height: 320px;
  }

  /* line 331, d6.scss */
  .user-profile--2 {
    display: block;
    margin-right: 60px;
  }
  /* line 335, d6.scss */
  .user-profile--2 header {
    height: 392px;
  }
}
